@model BusinessLayer.ChangePassword
@{
    ViewBag.Title = "Password Change";
}

<div class="row" >
    <div class="addedit">
        <div class="larg-2 medium-2 hide-for-small-only columns">&nbsp;
            @*<div class="callout panel">
                Add Banner
            </div>*@
        </div>
        <div class="larg-8 medium-8 columns">
            <fieldset>
                <legend><b>Password Change</b></legend>
                <div class="panel">

                    @using (Html.BeginForm("ChangePassword", "Customer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-6 columns">@Html.ValidationSummary(true)</div>
                            <div class="large-3 columns">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-6 columns">
                                <label>Old password</label>
                                @Html.TextBoxFor(m => m.OldPwd, new { @class = "form-control", @type = "password", @maxlength = "20", @placeholder = "Enter old password", @required = "" })
                            </div>
                            <div class="large-3 columns">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-6 columns">
                                <label>New password</label>
                                @Html.TextBoxFor(m => m.NewPwd, new { @class = "form-control", @type = "password", @maxlength = "20", @placeholder = "Enter new password", @required = "" })
                            </div>
                            <div class="large-3 columns">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-6 columns">
                                <label>Confirm password</label>
                                @Html.TextBoxFor(m => m.CnfPwd, new { @class = "form-control", @type = "password", @maxlength = "20", @placeholder = "Enter new password", @required = "" })
                                <div class="large-3 columns">&nbsp;</div>
                            </div>

                            <div class="row">
                                <div class="large-5 columns">&nbsp;</div>
                                <div class="large-4 columns"><input id="Submit1" class="small button radius round" type="submit" value="Login" /></div>
                                <div class="large-3 columns">&nbsp;</div>
                            </div>

                        </div>
                    }
                </div>
            </fieldset>
        </div>
        <div class="larg-2 medium-2 hide-for-small-only columns">&nbsp;
            @*<div class="callout panel">
                Add Banner
            </div>*@
        </div>
    </div>
</div>
